@*@using Kendo.Mvc.UI;*@
@{
    ViewBag.Title = "Computer System";
}
<h4>Computer System</h4>
@*@(Html.Kendo().ComboBox()
    .Name("systemComboBox")
    .Filter("startwith")
    .Placeholder("Find Information of")
    .DataTextField("Text")
    .DataValueField("Value")
    .HtmlAttributes(new { style = "margin-left: auto; margin-right: auto;  width:250px;", id = "test" })
    .BindTo(new List<SelectListItem>()
    {
        new SelectListItem{Text = "Win32_ComputerSystem", Value = "1" },
        new SelectListItem{Text = "Win32_DiskDrive", Value = "2"  },
        new SelectListItem{Text = "Win32_OperatingSystem", Value = "3"  },
        new SelectListItem{Text = "Win32_Processor", Value = "4"  },
        new SelectListItem{Text = "Win32_SystemDevices", Value = "5"  },
        new SelectListItem{Text = "Win32_StartupCommand", Value = "6"  }
    })

    .Events(e =>
    {
        e.Select("onSelect");
    })
    .Suggest(true)
)*@

<hr />
&nbsp;
&nbsp;

<script>
    function onSelect(e) {
        var data = e.item.text();
        location.href = '/ComputerSystem/GetSystemInformation?data=' + data;
    }
</script>
@RenderPage("~/views/computersystem/getsysteminformation.cshtml")